<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
    <h2> 正在编辑 </h2>

    <input value="<%= user.name %>" name="name" type="text" class="form-control"/>
    <input value="<%= user.title %>" name="title" type="text" class="form-control"/>
    <input value="<%= user.email %>" name="email" type="text" class="form-control"/>
    <% if (session.authenticated && session.User.admin) { %>
        <!-- <% if (user.admin) { %>
            <input type="hidden" name="admin" value="unchecked">
            <label class="checkbox"><input type="checkbox" name="admin" checked> Admin</label>
        <% } else { %>
            <input type="hidden" name="admin" value="unchecked">
            <label class="checkbox"><input type="checkbox" name="admin"> Admin</label>
        <% } %> -->
        <input type="hidden" id="admin" name="admin" value="<%= User.admin ? 'true' : 'false' %>">
        <input id="is-admin" type="checkbox" <%- user.admin ? 'checked':''%> onClick="document.getElementById('admin').value = this.checked">
        <label for="is-admin">Admin</label>
    <% } %>
    <input type="submit" value="确定" class="btn btn-lg btn-primary btn-block"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
